<html>
    <head>
        <title>welcome</title>
        <link href="welcome.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            <div class="eye">
                <div class="eyeball">
                    <div class="pupil">
        
                    </div>
                </div>
            </div>


            <div class="slogan">
                <p><b>One Word, <br> Endless <span id="creation" class="highlight">Creations</span></b></p>
            </div>

            <div class="welcomeText">
                <p style="font-size: 30px;">welcome to Inkspire</p>
            </div>
        </div>


        <!-- script -->
        <script src="/welcome.js"></script>

    </body>
</html>