<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="about.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>

    <title>About This Garden</title>
</head>
<body>
    <div class="container">
        <div class="logo" id="logo" onclick="window.location.href='/'">
            <div id="logoSketch"></div>
        </div>
        <div class="title">
            <h1>About this site</h1>
        </div>

        <div class="text">
            <h1 style="font-size: 20px;">This site is made by Ali Lin 
                <br>who wish to create a space for artists to grow their seed of inspiration for an artistic piece, 
                <br>no matter it is peotry, drawing, art installation and etc.
              
        </div>
        <div class="get-started">
            <h1><a href="/main" style="color:#ffffff;text-decoration: none;">get started</a></h1>

        </div>
    </div>

    <div class="footer">

        <p>© 2025 Ali Lin. All rights reserved.</p>
        
    </div>
    <script src="logo.js"></script>
</body>
</html>