



<html>
    <head>
        <title>welcome</title>
        <script src="https://cdn.jsdelivr.net/npm/p5@1.11.5/lib/p5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.3/addons/p5.sound.min.js"></script>
        <link href="welcome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    </head>
    <body>
        <div class="container">
            <div class="welcome-text">
                <p>Inspiration Garden</p>
            </div>
            <div class="description-text">
                <p>This is a public garden where artists can plant inspiration seeds</p>
            </div>
            <br>
            <br>
            <br>
            
            <div class="flower-container">
                <div id="mysketch"></div>
                <div class="about">
                    <h1><a href="/about">about</a></h1>
                </div>
                <br>
                <div class="get-started">
                    <h1><a href="/main">get started</a></h1>
                </div>
            </div>
        </div>

        <div class="footer">

            <p>© 2025 Ali Lin. All rights reserved.</p>
            
        </div>

        <script src="flower.js"></script>


    </body>
</html>