<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <title>Seeds library</title>
    <link href="news.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo" id="logo" onclick="window.location.href='/'">
            <div id="logoSketch"></div>
        </div>
        <ul>
            <!-- <li><a href="/">home</a></li> -->
            <li><a href="/news" style="color:#FFDF6B">Seeds library</a></li>
            <li><a href="/messages">Garden</a></li>
            <li><a href="/main">grow a seed here</a></li>
        </ul>
    </nav>

    <div class="container-wrapper"> 
        <div class="title">
            <p >Seeds</p>
        </div>
        <p style="color:white;text-align: center;"> You can grow seeds from these places🤩</p>
        <div class="container">

              
                <p class="seed-name" style="font-weight:bold;">Portfolio/career orientation</p>
                <div class="column">
                    <div class="column-item color1">
                        <p class="seed-name"><a href="https://www.behance.net/">behance</a></p>
                    </div>
                    <div class="column-item color2">
                        <p class="seed-name"><a href="https://dribbble.com/">dribble</a></p>
                    </div>
                    
                    <div class="column-item color3">
                        <p class="seed-name"><a href="https://muz.li/inspiration/">muzli</a></p>
                    </div>
                </div>
                <p class="seed-name"style="font-weight: bold;">School/Museum</p>
                <div class="column">
                    <div class="column-item color2">

                        <p class="seed-name"><a href="https://www.artic.edu/collection">AIC</a></p>
                    </div>
                    <div class="column-item color3">
                        <p class="seed-name"><a href="https://www.moma.org/collection/">MOMA</a></p>
                    </div>
                    <div class="column-item color1">
                        <p class="seed-name"><a href="https://www.metmuseum.org/art/collection">MET</a></p>
                    </div>
                    
                </div>
                <p class="seed-name" style="font-weight: bold;">Pure Design</p>
                <div class="column">
                    
                    <div class="column-item color3">
                        <p class="seed-name"><a href="https://theinspirationgrid.com/">The Inspiration Grid</a></p>
                    </div>
                    <div class="column-item color1">
                        <p class="seed-name"><a href="https://thedesigninspiration.com/">thedesigninspiration</a></p>
                    </div>
                    <div class="column-item color2">
                        <p class="seed-name"><a href="https://www.pinterest.com/">pinterest</a></p>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <script src="logo.js"></script>
</body>
</html>